<div class="container">
  <div class="card-category" style="height: 85vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'adventure-time.jpg', alttext: 'adventure-time' %>)">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file, input_html: { class: "btn btn-primary" } %>
      <% if @cocktail.id %>
        <%= f.submit 'Update', class: 'btn btn-info' %>
        <%= link_to 'Home', cocktails_path, class: "btn btn-primary" %>
      <% else %>
        <%= f.submit 'Add', class: 'btn btn-info' %>
        <%= link_to 'Home', cocktails_path, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

