<div class="container">
  <div class="card-category" style="height: 85vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?movie,cartoon?blur=2);">
    <div class="form-group w-50">
      <h4 class="card-title"><%= @cocktail.name %></h4>
      <hr>
      <% @cocktail.doses.each do |dose| %>
      <h4 class="card-title"><%= dose.ingredient.name %></h4>
      <h4 class="card-title"><%= dose.description %></h4>
        <%= link_to "Remove Ingredient", dose_path(dose), id: "remove-ingredient", class: "btn btn-flat", method: :delete %>
      <% end  %>
      </h4>
      <div class="pt-5">
      <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: 'btn btn-gradient' %>
      <%= link_to 'Home', cocktails_path, class: "btn btn-doge" %>
      </div>
    </div>
  </div>
</div>
