<div class="container">
    <% @cocktails.each do |cocktail| %>
    <!--<% if cocktail.photo.attached? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo.key %>)">
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
       <% end %>-->
       <button class="delete-tag" class="btn btn-primary">Delete</button>
        <%= link_to "", cocktail_path(cocktail), method: :delete, id: "delete-link", class: "hidden" %>

       <!--<%= link_to cocktail_path(cocktail), id: "delete-tag", method: :delete do %>
        <%= link_to "#", id: "delete-tag", method: :delete do %>
          <i class="fas fa-times"></i>
       <% end %>
          <i class="fas fa-times"></i>
       <% end %>-->
    </div>
    <% end %>
</div>
