<!DOCTYPE html>
<html>
  <head>
    <title>Pop Culture Cocktails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--Javascript-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- loads app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="page-frame-content">
    <div class="page-frame-header">
      <%= render '../views/navbar' %>
    </div>
    <%= yield %>
    <div class="page-frame-footer">
      <%= render '../views/footer' %>
    </div>
  </div>
  <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

  </body>
</html>
